/*******************************/
/********* Service CSS *********/
/*******************************/

/*.service .service-item {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        -webkit-user-select: none;*/ /* Safari */
/*-moz-user-select: none;*/ /* Firefox */
/*-ms-user-select: none;*/ /* Internet Explorer/Edge */
/*user-select: none;*/ /* Standard syntax */
/*}*/


.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
    background: linear-gradient(rgb(3 15 39 / 82%), rgb(137 141 149 / 90%)), url(https://ik.imagekit.io/yt1tgrjzh/LADONCO/Assets/ladon_srvc_06.jpg?updatedAt=1715836389508);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

    .service .free-wall {
        margin: 15px;
        width: 100%;
        position: relative;
        justify-content: center;
        display: flex;
    }

        .service .free-wall .brick {
            width: 390px;
            border-radius: 10px;
            background: gray;
            margin-bottom: 20px;
            overflow: hidden;
        }

            .service .free-wall .brick img {
                width: 100%;
            }

            .service .free-wall .brick .info {
                padding: 15px;
                color: #333;
            }

                .service .free-wall .brick .info h3 {
                    color: aliceblue;
                    font-weight: 600;
                    font-size: 1.17rem;
                }

    .service .service-item {
        width: 320px;
        height: 320px;
    }

    .service .service-img {
        position: relative;
        overflow: hidden;
    }

        .service .service-img img {
            width: 100%;
        }

    .service .service-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(3, 15, 39, .7);
        transition: .5s;
        opacity: 0;
    }

    .service .service-item:hover .service-overlay {
        opacity: 1;
    }

    .service .service-overlay p {
        margin: 0;
        color: #ffffff;
    }

    .service .service-text {
        display: flex;
        align-items: center;
        height: 60px;
        background: #030f27;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .service .service-text h3 {
            margin: 0;
            padding: 0 15px 0 25px;
            width: calc(100% - 60px);
            font-size: 20px;
            font-weight: 700;
            color: #fdbe33;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    .service .service-item a.btn {
        width: 60px;
        height: 60px;
        padding: 3px 0 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        line-height: 60px;
        font-weight: 100;
        color: #030f27;
        background: #fdbe33;
        border-radius: 0;
        transition: .3s;
    }

    .service .service-item:hover a.btn {
        color: #ffffff;
    }

@media (max-width: 820px) {
}

@media (max-width: 1192px) {
}

@media (max-width: 767.98px) {
}
