:root {
    --orange: #fa602a;
    --yellow: #fcb400;
    --purple: #9e0c80;
    --blue: #00e2ff;
    --green: #95ae20;
    --neutral: #333;
    --light: #fff;
}

body {
    color: #666;
    background: #ddd;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    margin-bottom: 0 !important
}

h1, h2, h3, h4, h5, h6 {
    color: #030f27
}

a {
    color: #fff;
    transition: .3s
}

    a:hover, a:active, a:focus {
        color: #fdbe33;
        outline: 0;
        text-decoration: none
    }

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus {
    box-shadow: none
}

.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #000
}

main {
    background-color: #000
}

.back-to-top {
    position: fixed;
    display: none;
    background: #fdbe33;
    color: #121518;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background .5s;
    z-index: 9
}

    .back-to-top:hover {
        color: #fdbe33;
        background: #121518;
        cursor: pointer
    }

    .back-to-top i {
        padding-top: 10px
    }

.btn {
    transition: .3s
}

.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #fdbe33
}

    .page-header h2 {
        position: relative;
        color: #030f27;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 5px
    }

        .page-header h2::after {
            position: absolute;
            content: "";
            width: 100px;
            height: 2px;
            left: calc(50% - 50px);
            bottom: 0;
            background: #030f27
        }

    .page-header a {
        position: relative;
        padding: 0 12px;
        font-size: 22px;
        color: #030f27
    }

        .page-header a:hover {
            color: #fff
        }

        .page-header a::after {
            position: absolute;
            content: "/";
            width: 8px;
            height: 8px;
            top: -2px;
            right: -7px;
            text-align: center;
            color: #121518
        }

        .page-header a:last-child::after {
            display: none
        }

@media(max-width: 991.98px) {
    .page-header {
        padding: 60px 0
    }

        .page-header h2 {
            font-size: 45px
        }

        .page-header a {
            font-size: 20px
        }

    main {
        padding: unset
    }
}

@media(max-width: 767.98px) {
    .page-header {
        padding: 45px 0
    }

        .page-header h2 {
            font-size: 35px
        }

        .page-header a {
            font-size: 18px
        }

    main {
        padding: unset
    }
}

.top-bar {
    position: relative;
    height: 90px;
    background-color: white;
}

    .top-bar .logo {
        text-align: left;
        overflow: hidden
    }

        .top-bar .logo h1 {
            margin: 0;
            color: #030f27;
            font-size: 60px;
            line-height: 60px;
            font-weight: 700
        }

        .top-bar .logo img {
            max-width: 100%;
            max-height: 75px;
            margin: 2px;
            /* background-image:linear-gradient(to top,blue 0%,blue 100%); */
            /* -webkit-mask-image:linear-gradient(to top,black 0%,black 100%),linear-gradient(to top,transparent 0%,black 100%),linear-gradient(to right,transparent 0%,black 100%),linear-gradient(to bottom,transparent 0%,black 100%),linear-gradient(to left,transparent 0%,black 100%); */
            /* -webkit-mask-position:center,top,right,bottom,left; */
            /* -webkit-mask-size:100% 100%,100% 10px,10px 100%,100% 10px,10px 100%; */
            /* -webkit-mask-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat; */
            /* -webkit-mask-composite:source-out,source-over,source-over,source-over; */
            /* mask-image:linear-gradient(to top,black 0%,black 100%),linear-gradient(to top,transparent 0%,black 100%),linear-gradient(to right,transparent 0%,black 100%),linear-gradient(to bottom,transparent 0%,black 100%),linear-gradient(to left,transparent 0%,black 100%); */
            /* mask-position:center,top,right,bottom,left; */
            /* mask-size:100% 100%,100% 10px,10px 100%,100% 10px,10px 100%; */
            /* mask-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat; */
            /* mask-composite:subtract,add,add,add; */
        }

    .top-bar .top-bar-item {
        display: flex;
        align-items: center;
        justify-content: flex-end
    }

    .top-bar .top-bar-icon {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center
    }

        .top-bar .top-bar-icon [class^="flaticon-"]::before {
            margin: 0;
            color: #fff;
            font-size: 40px
        }

    .top-bar .top-bar-text {
        padding-left: 15px
    }

        .top-bar .top-bar-text h3 {
            margin: 0 0 5px 0;
            color: #fff;
            font-size: 16px;
            font-weight: 550
        }

        .top-bar .top-bar-text p {
            margin: 0;
            color: #fff;
            font-size: 13px;
            font-weight: 400
        }

    .top-bar .btn-usr {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 4px;
        display: none
    }

.nav-bar-logo {
    display: none
}

    .nav-bar-logo img {
        width: 130px;
    }

@media(min-width: 992px) {
    .top-bar {
        padding: 7px 60px;
        background: linear-gradient(78deg, rgb(255 253 253 / 80%), rgb(255 255 255 / 17%) 70.71%), linear-gradient(70deg, rgb(255 255 255 / 80%), rgb(245 245 245 / 1%) 70.71%), linear-gradient(298deg, #021131, rgb(0 0 255 / 1%) 70.71%);
    }

        .top-bar .btn-usr {
            display: none
        }
}

@media(max-width: 991.98px) {
    .top-bar .btn-usr {
        display: block;
        color: #808080
    }

    .top-bar .logo {
        text-align: center;
        margin-top: 8px
    }

    main {
        padding: unset
    }
}

.banner-bar {
    background: #137d89;
    padding: 5px 0 5px 0;
    align-content: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center
}

.banner-bar-content {
    width: fit-content;
    margin-left: auto;
    margin-right: auto
}

.banner-bar-item {
    margin: auto;
    font-weight: 600;
    text-align: center
}

.nav-bar {
    position: absolute;
    top: 90px;
    z-index: 999;
    width: 100%;
    --tw-shadow: 0 20px 25px -5px rgb(79 113 122/81%),0 8px 10px -6px rgb(27 95 106/36%);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    background-color: hsl(0deg 0% 0%/48%);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 8px 0 rgb(42 26 30/49%)
}

    .nav-bar .container-fluid {
        padding: 0;
        background: transparent
    }

    .nav-bar.nav-sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999
    }

        .nav-bar.nav-sticky::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            backdrop-filter: blur(5px)
        }

    .nav-bar .navbar {
        height: 100%
    }

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #fff
}

    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
        color: #fdbe33;
        transition: none
    }

.nav-bar .other-site-features.dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa
}

.nav-bar .other-site-features .dropdown-divider {
    border-top: 1px solid #d1d4d7
}

.nav-bar .btn {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0
}

    .nav-bar .btn:hover {
        color: #030f27;
        background: #fdbe33;
        border-color: #fdbe33
    }

@media(min-width: 992px) {
    .nav-bar {
        padding: 0 75px
    }

        .nav-bar.nav-sticky {
            padding: 0
        }

        .nav-bar .navbar {
            padding: 15px
        }

        .nav-bar .navbar-brand {
            display: none
        }

        .nav-bar a.nav-link {
            padding: 8px 15px;
            font-size: 15px;
            text-transform: uppercase
        }
}

@media(max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px
    }

    .nav-bar a.nav-link {
        padding: 5px
    }

    .nav-bar .other-site-features.dropdown-menu {
        box-shadow: none
    }

    .nav-bar .btn {
        display: none
    }

    .nav-bar .btn-usr {
        display: none
    }

    a.nav-bar-logo {
        cursor: pointer;
        position: unset
    }

    main {
        padding: unset
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1,1)
    }

    to {
        -webkit-transform: scale(1.5,1.5)
    }
}

@keyframes zoom {
    from {
        transform: scale(1,1)
    }

    to {
        transform: scale(1.5,1.5)
    }
}

.footer {
    position: relative;
    padding-top: 25px;
    background: #030f27;
    color: #fff
}

    .footer .footer-contact, .footer .footer-link, .footer .newsletter {
        position: relative;
        margin-bottom: 45px
    }

    .footer h2 {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #fdbe33
    }

        .footer h2::after {
            position: absolute;
            content: "";
            width: 60px;
            height: 2px;
            left: 0;
            bottom: 0;
            background: #fdbe33
        }

    .footer .footer-link a {
        display: block;
        margin-bottom: 10px;
        color: #fff;
        transition: .3s
    }

        .footer .footer-link a::before {
            position: relative;
            content: "\f105";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 10px
        }

        .footer .footer-link a:hover {
            color: #fdbe33;
            letter-spacing: 1px
        }

    .footer .footer-contact p i {
        width: 25px
    }

    .footer .footer-social {
        position: relative;
        margin-top: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

        .footer .footer-social a {
            display: inline-block;
            width: 40px;
            height: 40px;
            padding: 7px 0;
            text-align: center;
            border: 1px solid rgba(256,256,256,.3);
            border-radius: 60px;
            transition: .3s
        }

            .footer .footer-social a i {
                font-size: 15px;
                color: #fff
            }

            .footer .footer-social a:hover {
                background: #fdbe33;
                border-color: #fdbe33
            }

                .footer .footer-social a:hover i {
                    color: #030f27
                }

    .footer .newsletter .form {
        position: relative;
        max-width: 400px;
        margin: 0 auto
    }

    .footer .newsletter input {
        height: 50px;
        border: 2px solid #121518;
        border-radius: 0
    }

    .footer .newsletter .btn {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 40px;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fdbe33;
        background: #121518;
        border-radius: 0;
        border: 2px solid #fdbe33;
        transition: .3s
    }

        .footer .newsletter .btn:hover {
            color: #121518;
            background: #fdbe33
        }

    .footer .footer-menu .f-menu {
        position: relative;
        padding: 15px 0;
        font-size: 0;
        text-align: center;
        border-top: 1px solid rgba(256,256,256,.1);
        border-bottom: 1px solid rgba(256,256,256,.1)
    }

        .footer .footer-menu .f-menu a {
            color: #fff;
            font-size: 16px;
            margin-right: 15px;
            padding-right: 15px;
            border-right: 1px solid rgba(255,255,255,.1)
        }

            .footer .footer-menu .f-menu a:hover {
                color: #fdbe33
            }

            .footer .footer-menu .f-menu a:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: 0
            }

    .footer .copyright {
        padding: 30px 15px
    }

        .footer .copyright p {
            margin: 0;
            color: #fff
        }

        .footer .copyright .col-md-6:last-child p {
            text-align: right
        }

        .footer .copyright p a {
            color: #fdbe33;
            font-weight: 500;
            letter-spacing: 1px
        }

            .footer .copyright p a:hover {
                color: #fff
            }

@media(max-width: 768px) {
    .footer .copyright p, .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center
    }

    main {
        padding: unset
    }
}

.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px
}

    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: 0
    }

    .modal-confirm .modal-header {
        border-bottom: 0;
        position: relative
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px
    }

    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px
    }

    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -5px
    }

    .modal-confirm .modal-footer {
        border: 0;
        text-align: center;
        border-radius: 5px;
        font-size: 13px
    }

    .modal-confirm .icon-box {
        color: #fff;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #82ce34;
        padding: 15px;
        text-align: center;
        box-shadow: 0 2px 2px rgba(0,0,0,.1)
    }

        .modal-confirm .icon-box i {
            font-size: 58px;
            position: relative;
            top: 3px
        }

    .modal-confirm.modal-dialog {
        margin-top: 80px
    }

    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #82ce34;
        text-decoration: none;
        transition: all .4s;
        line-height: normal;
        border: 0
    }

        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            background: #6fb32b;
            outline: 0
        }

.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 45px
}

    .section-header p {
        color: #fdbe33;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px
    }

    .section-header h2 {
        margin: 0;
        position: relative;
        font-size: 50px;
        font-weight: 700;
        color: #f5f5f5
    }

@-webkit-keyframes glow-text {
    from {
        text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #e60073,0 0 40px #e60073,0 0 50px #e60073,0 0 60px #e60073,0 0 70px #e60073
    }

    to {
        text-shadow: 0 0 20px #fff,0 0 30px #ff4da6,0 0 40px #ff4da6,0 0 50px #ff4da6,0 0 60px #ff4da6,0 0 70px #ff4da6,0 0 80px #ff4da6
    }
}

.usr-menu-dropdown {
    background-color: #9acd32;
    border-radius: 10px;
    box-shadow: rgb(40 120 205/60%) 0 54px 55px,rgb(93 217 172/60%) 0 -12px 30px,rgb(211 32 196/37%) 0 4px 6px,rgb(201 73 143/52%) 0 12px 13px,rgb(187 38 38/80%) 0 -3px 5px;
    margin-top: 10px
}

    .usr-menu-dropdown .dropdown-item {
        color: #212529;
        cursor: pointer
    }

    .usr-menu-dropdown .usr-menu-dropdown-profile {
        padding: 10px;
        background-color: #f5f5f5;
        margin-top: -10px;
        border-radius: 20px 20px 0 0;
        align-content: center;
        text-align: center
    }

        .usr-menu-dropdown .usr-menu-dropdown-profile .thumbnail {
            border-radius: 100px;
            height: 100px
        }

        .usr-menu-dropdown .usr-menu-dropdown-profile .name {
            margin-top: 5px;
            color: #00658d
        }

        .usr-menu-dropdown .usr-menu-dropdown-profile .title {
            color: #00658d;
            margin-bottom: 0;
            font-size: small
        }


        .usr-menu-dropdown .usr-menu-dropdown-profile .name a {
            color: #100f10;
        }

            .usr-menu-dropdown .usr-menu-dropdown-profile .name a:hover {
                color: #fdbe33;
                text-decoration: underline;
            }


    .usr-menu-dropdown.on-top {
        margin-left: -92px
    }

    .usr-menu-dropdown.not-on-top {
        margin-left: -166px
    }

.btn-usr a:hover {
    color: #fdbe33;
    cursor: pointer
}

.user-access {
    color: #fff !important;
    cursor: pointer
}

    .user-access:hover {
        color: #ffc312 !important;
        cursor: pointer
    }
