/* General styles */
section {
    /*margin-top: -50px;*/
}

/* Tidio Chat box styles */
#tidio-chat {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

#tidio-chat-iframe {
    bottom: 50px !important;
}

@media only screen and (max-width: 980px) {
    #tidio-chat-iframe {
        bottom: 50px !important;
    }
}

/* Search box styles */
.search-box-inner {
    position: relative;
    display: inline-block;
}

    .search-box-inner input[type="search"] {
        border-radius: 5px;
        padding: 5px 25px 5px 5px;
    }

    .search-box-inner i.fa {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #ccc;
    }

    .search-box-inner:hover i.fa {
        color: #fdbe33; /* Change color on hover */
    }

/* Login form & validation styles */
@keyframes validation-error {
    50% {
        color: #ffffff;
    }
}

/* User drop down menu styles */
.usr-menu-dropdown {
    background-color: yellowgreen;
    border-radius: 10px;
    box-shadow: rgb(40 120 205 / 60%) 0px 54px 55px, rgb(93 217 172 / 60%) 0px -12px 30px, rgb(211 32 196 / 37%) 0px 4px 6px, rgb(201 73 143 / 52%) 0px 12px 13px, rgb(187 38 38 / 80%) 0px -3px 5px;
    margin-top: 10px;
}

    .usr-menu-dropdown .dropdown-item {
        color: #212529;
        cursor: pointer;
    }

    .usr-menu-dropdown .usr-menu-dropdown-profile {
        padding: 10px;
        background-color: whitesmoke;
        margin-top: -10px;
        border-radius: 20px 20px 0 0;
        align-content: center;
        text-align: center;
    }

        .usr-menu-dropdown .usr-menu-dropdown-profile .thumbnail {
            border-radius: 100px;
            height: 100px;
        }

        .usr-menu-dropdown .usr-menu-dropdown-profile .name {
            margin-top: 5px;
            color: #00658d;
        }

        .usr-menu-dropdown .usr-menu-dropdown-profile .title {
            color: #00658d;
            margin-bottom: 0;
            font-size: small;
        }

    .usr-menu-dropdown.on-top {
        margin-left: -92px;
    }

    .usr-menu-dropdown.not-on-top {
        margin-left: -166px;
    }

.btn-usr a:hover {
    color: #fdbe33;
    cursor: pointer;
}

.user-access {
    color: #FFFFFF !important;
    cursor: pointer;
}

    .user-access:hover {
        color: #FFC312 !important;
        cursor: pointer;
    }
