@page
@using SMEAppHouse.Ladon.Web.Pages
@model CookiesModel
@{
    ViewData["Title"] = "Cookies";
}

<div class="container mt-5 cookies-container">
    <h2 class="text-center mb-4">Cookies</h2>

    <p>We employ the use of cookies. By accessing our website, you agree to use cookies in agreement with the Company's privacy policy.</p>
    <p>Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
</div>

@section Styles {
    <style>

        .cookies-container {
            color: white;
        }

            .cookies-container .mb-4 {
                color: white;
            }

            .cookies-container h2, h3, h4 {
                color: white;
            }

    </style>
}