@page 
@{
    Layout = "~/Pages/Shared/_NoNavsLayout.cshtml";
}
@model ForgotPasswordConfirmationPageModel
@{
    ViewData["Title"] = "Forgot Password";
}

@section Styles {

    <environment include="Development">
        <link href="~/css/user-auth.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/dist/user-auth.min.css" rel="stylesheet" />
    </environment>
}

<div class="user-auth-container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 440px;">
            <div class="card-header">
                <h3>@(ViewData["Title"])</h3>
            </div>
            <div class="card-body">
                <p id="external-login-description" class="text-info">
                    If there is an account associated with <strong class="light-gray">@Model.Email</strong>, we have sent an email with instructions to reset your password.
                </p>
            </div>
            <div class="card-footer">
                <div class="links">
                    Already have an account?
                    <a id="sign-in" asp-page="./login">Sign In</a>
                </div>
                <div class="links">
                    Don't have an account?
                    <a id="sign-up" asp-page="./login">Sign Up</a>
                </div>
                <div class="links">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $.when(
            $.ready
        ).done(function (data) { // Document is ready.
            "use strict";

            // Clear validation messages when input fields are edited
            $('#email, #password').on('input', function () {
                var inputId = $(this).attr('id');
                $('#' + inputId + '-validation').text('');
                $('#login-validation').text('');
            });

        });

    </script>
}

