<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div>
                    <div class="section-header text-left">
                        <h2>OUR STORY</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            LADON CONSTRUCTION SERVICES stands as an innovative force in the construction industry, headquartered in Davao City and dedicated to delivering top-tier projects across the nation. Established in 2021, our journey from a modest startup to a thriving enterprise speaks volumes of our unwavering dedication to excellence, innovation, and sustainable building practices.
                        </p>
                        @* <a class="btn" href="">Learn More</a> *@
                    </div>
                </div>
                <div>
                    <div class="section-header text-left">
                        <h3>OUR MISSION</h3>
                    </div>
                    <div class="about-text">
                        <p>
                            Our mission is to build spaces that enhance the lives of those who use them, contribute to the development of our communities, and preserve the integrity of our environment. We achieve this by adhering to the highest standards of quality, safety, and performance in every project we undertake.
                        </p>
                        @* <a class="btn" href="">Learn More</a> *@
                    </div>
                </div>
                <div>
                    <div class="section-header text-left">
                        <h3>OUR VISION</h3>
                    </div>
                    <div class="about-text">
                        <p>
                            To be recognized as the construction partner of choice in the Philippines for our unmatched expertise, exceptional customer service, and our dedication to building sustainable and innovative projects that stand the test of time.
                        </p>
                        @* <a class="btn" href="">Learn More</a> *@
                    </div>
                </div>
                <div>
                    <div class="section-header text-left">
                        <h3>OUR CORE VALUES</h3>
                    </div>
                    <div class="about-text">
                        <p>
                            <b>Integrity</b>&nbsp;Conducting all business with the highest standards of honesty and fairness; we can be trusted.
                        </p>
                        <p>
                            <b>Excellence</b>&nbsp;We strive for superior quality in every task, from planning to execution.
                        </p>
                        <p>
                            <b>Innovation</b>&nbsp;Continuously improving our methods and technologies to lead the industry forward.
                        </p>
                        <p>
                            <b>Sustainability</b>&nbsp;Committing to environmentally responsible practices in all we do.
                        </p>
                        <p>
                            <b>Safety</b>&nbsp;Ensuring the health and safety of our employees, subcontractors, and the communities in which we operate.
                        </p>
                        @* <a class="btn" href="">Learn More</a> *@
                    </div>
                </div>
            </div>
            <div class="unselectable col-lg-6 col-md-12">
                <div class="about-img">
                    @* <img src="/img/2024 LCS_ladon_68-2.jpg" alt="Image"> *@
                    <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713974687/2024_LCS_ladon_68-2_e5karg.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>