<div class="banner-bar">
    <a class="banner-bar-content" href="/" target="">
        <div>
            <p class="banner-bar-item">Get 20% off this month when you try our services!</p>
        </div>
    </a>
</div>