<div class="feature wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-fluid">
        @* <div class="row align-items-center"> *@
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-worker"></i>
                    </div>
                    <div class="feature-text">
                        <h3>Expert Worker</h3>
                        <p>
                            At Ladon, our "Expert Workers" aren't just skilled—they're visionaries. With years of dedication, they turn blueprints into breathtaking realities. Trust us, your vision will be a masterpiece with them on the job.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-building"></i>
                    </div>
                    <div class="feature-text">
                        <h3>Quality Work</h3>
                        <p>At Ladon, excellence is our creed. Our dedication to quality surpasses industry standards. From meticulous attention to detail to precise execution, we ensure perfection in every aspect. Quality is woven into every step, guaranteeing we exceed expectations. Choose Ladon for nothing but the best—excellence is our only option.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-call"></i>
                    </div>
                    <div class="feature-text">
                        <h3>Innovation</h3>
                        <p>
                            At Ladon, innovation fuels our every move. We're pioneering new solutions to elevate your projects to new heights. With us, expect cutting-edge ideas that set you apart from the competition.
                        </p>
                    </div>
                </div>
            </div>
            @* <div class="col-lg-3 col-md-12">
            <div class="feature-item">
            <div class="feature-icon">
            <i class="flaticon-call"></i>
            </div>
            <div class="feature-text">
            <h3>Sustainability</h3>
            <p>
            Sustainability is our cornerstone at Ladon. Our eco-friendly practices ensure a greener future for your projects. Choose us for sustainable solutions that make a difference.
            </p>
            </div>
            </div>
            </div> *@
        </div>
    </div>
</div>