<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Team</p>
            <h2>Get to Know Us!</h2>
        </div>
        <div class="row">
            <div class="team-text" style="background:transparent;">
                <p>
                    LADON CONSTRUCTION SERVICES, under the leadership of <b>Mr. Charlemagne Reyes</b>, a seasoned visionary with over 21 years of experience in the construction industry, has been dedicated to delivering unparalleled services since our establishment in 2021. With a cumulative experience exceeding 60 years among our team members, comprised of dedicated professionals ranging from engineers specialized in various fields to seasoned architects, proficient project managers, and skilled tradespeople, we prioritize meticulous attention to detail and extend exceptional customer service as fundamental pillars of our ethos. Together, we are committed to ensuring flawless project execution from inception to completion.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="unselectable col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975769/LADON_Team_01_evs4u3.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Engr. Charlemagne Reyes</h2>
                        <p>Founder/CEO</p>
                    </div>
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="unselectable col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975771/LADON_Team_02_uws8ta.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Engr. Budz Gayola</h2>
                        <p>Project Manager/ Officer-in-Charge (Telecomm Operations)</p>
                    </div>
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="unselectable col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975744/2024_LCS_ladon_74_lkg7ng.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Ms. Nancy dela Cruz</h2>
                        <p>Office Manager</p>
                    </div>
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="unselectable col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975773/LADON_Team_03_hxvqov.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Engr. Josh Fontanoza</h2>
                        <p>Company Civil Engineer / Projects Manager</p>
                    </div>
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>