<div class="service">
    <div class="container" style="max-width:100%;">
        <div class="section-header text-center">
            <p>Our Services</p>
            <h2>We're Here to Help You! Count on Us for...</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975745/ladon_srvc_02_gvhaep.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                This involves the construction of homes, apartments, and other residential structures. It includes everything from laying the foundation to framing, roofing, and finishing work such as painting and flooring.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Residential Construction</h3>
                        @* <a class="btn" href="/img/ladon_srvc_02.jpg" data-lightbox="service">+</a> *@
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975745/ladon_srvc_02_gvhaep.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_07.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975750/ladon_srvc_07_bn4wjq.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Commercial construction involves building structures intended for commercial purposes, such as offices, retail stores, restaurants, and warehouses. It requires expertise in designing and constructing spaces that meet the specific needs of businesses and adhere to commercial building codes.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>
                            Commercial Construction
                        </h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975750/ladon_srvc_07_bn4wjq.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_04.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975747/ladon_srvc_04_qvyfc0.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                New construction refers to building projects from the ground up, whether residential or commercial. It encompasses all aspects of construction, including planning, design, permitting, and construction activities.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>
                            New Construction
                        </h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975747/ladon_srvc_04_qvyfc0.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/2024 LCS_ladon_16.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975776/2024_LCS_ladon_52_ej5z9n.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Renovation and remodeling involve making improvements to existing structures. This can include updating outdated features, modifying layouts, or adding new amenities to enhance functionality and aesthetics.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Renovation and Remodeling</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975776/2024_LCS_ladon_52_ej5z9n.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/2024 LCS_ladon_48.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975774/2024_LCS_ladon_48_vdk6qq.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Interior fit-out works involve customizing the interior spaces of buildings to meet the specific needs and preferences of occupants. This includes installing partitions, fixtures, fittings, cabinetry, and other interior elements.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Interior Fit-out Works</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975774/2024_LCS_ladon_48_vdk6qq.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_12.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975755/ladon_srvc_12_tkepxp.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Exterior landscaping focuses on the design and installation of outdoor spaces, including gardens, lawns, trees, shrubs, and hardscape features such as patios, walkways, and retaining walls.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Exterior &#38; Interior Landscaping</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975755/ladon_srvc_12_tkepxp.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/2024 LCS_ladon_52.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975756/ladon_srvc_13_eyrzgb.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                This encompasses the restoration, renovation, and preservation of historical or heritage buildings. It involves specialized techniques to maintain or restore the original architectural elements and historical significance of the structure.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Restoration, Renovation and Preservation Works</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975756/ladon_srvc_13_eyrzgb.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_22.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975768/ladon_srvc_22_rx1ljy.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Structural engineering involves the analysis, design, and construction of structural elements to ensure the stability and safety of buildings and infrastructure. Structural engineers design load-bearing components such as beams, columns, and foundations.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Structural Engineering & Planning</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975768/ladon_srvc_22_rx1ljy.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_06.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975749/ladon_srvc_06_rljusp.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Architectural design and planning involve creating designs and plans for buildings and structures. Architects work closely with clients to understand their needs and preferences and develop architectural drawings and specifications.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Architectural Design and Planning</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975749/ladon_srvc_06_rljusp.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_21.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975766/ladon_srvc_21_a75c4u.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                HVAC installation involves the design, installation, and maintenance of heating, ventilation, and air conditioning systems. This includes equipment such as furnaces, boilers, air conditioners, ductwork, and ventilation systems.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>HVAC Installation and Maintenance</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975766/ladon_srvc_21_a75c4u.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_10.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975753/ladon_srvc_10_zoemiz.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Plumbing and piping services involve the installation, repair, and maintenance of plumbing systems and piping networks. This includes water supply, drainage, and sewage systems in residential, commercial, and industrial buildings.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Plumbing and Piping Services</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975753/ladon_srvc_10_zoemiz.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_09.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975751/ladon_srvc_09_la1ldi.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                This involves the installation, repair, and maintenance of electrical systems and components. This includes wiring, lighting, switches, outlets, circuit breakers, and electrical panels.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Electrical Systems Installation and Maintenance</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975751/ladon_srvc_09_la1ldi.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_16.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975761/ladon_srvc_16_cjy9sb.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Flooring installation and restoration encompass the installation of various types of flooring materials such as hardwood, tile, carpet, and laminate. It also includes refinishing and restoring existing floors to their original condition.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Flooring Installation and Restoration</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975761/ladon_srvc_16_cjy9sb.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_17.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975762/ladon_srvc_17_dwz5ya.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Painting services involve applying paint or other finishes to interior and exterior surfaces of buildings and structures. This includes walls, ceilings, trim, doors, and other architectural elements. Painting can enhance aesthetics, protect surfaces from wear and tear, and improve overall durability and longevity.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Painting</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975762/ladon_srvc_17_dwz5ya.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_19.jpeg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975763/ladon_srvc_19_yvhyfb.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                Roofing and waterproofing involve the installation and maintenance of roof systems to protect buildings from water damage. This includes roof installation, repair, and maintenance, as well as waterproofing measures to prevent leaks and moisture intrusion.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>
                            Roofing and Waterproofing
                        </h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975763/ladon_srvc_19_yvhyfb.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        @* <img src="/img/ladon_srvc_20.jpg" alt="Image"> *@
                        <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975765/ladon_srvc_20_klhr5w.jpg" alt="Image">
                        <div class="service-overlay">
                            <p>
                                This involves the installation of telecommunications infrastructure, including private branch exchange (PBX) systems. It includes setting up internal phone networks, extensions, and other telecommunications equipment within a business or organization.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>Telecommunications Infrastructure / Private Branch Exchange (PBX) Installation</h3>
                        <a class="btn" href="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713975765/ladon_srvc_20_klhr5w.jpg" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>