<div class="welcome wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="unselectable col-lg-6 col-md-12">
                <div class="welcome-img">
                    @* <img src="/img/2024 LCS_ladon_67.png" alt="Image"> *@
                    @* <img src="https://res.cloudinary.com/dkgz8tnno/image/upload/v1713974687/2024_LCS_ladon_67_sli5hj.png" alt="Image"> *@
                    <img src="https://ik.imagekit.io/yt1tgrjzh/LADONCO/Assets/customer-service-640w.png?updatedAt=1718681938754" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-header text-left">
                    <p>Hello</p>
                    <h2>WE ARE INVITING YOU TO BUILD YOUR DREAMS WITH US AT LADON CONSTRUCTION SERVICES</h2>
                </div>
                <div class="welcome-text">
                    <p>
                        At Ladon, we exceed expectations. Our services cover design, planning, and construction. Let us bring your dream project to life with expertise and dedication. Contact us for a consultation and experience the difference!
                    </p>
                    <a class="btn" href="/articles/build-your-dreams-with-ladon-construction-services">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>